* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********* navbar */
.nb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #35424a;
  color: white;
  border-bottom: 5px solid #a9508b;
}

.span {
  color: #a9508b;
}

.nav-link {
  color: white !important;
  font-size: 24px !important;
}

.nav-link:hover {
  color: white !important;
  font-weight: 700;
}
.active {
  color: #a9508b !important;
}

/********* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #35424a;
  height: 100px;
  color: white;
}

.buton {
  color: white;
  background-color: #e8491d;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}
input {
  padding: 6px 50px;
  border-radius: 5px;
  border: none;
}

.banner {
  background: url(./assets/showcase.jpg) center center no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 60px !important;
}

.container {
  display: flex;
  gap: 50px;
  margin: 20px auto;
}

.dark {
  background-color: #35424a;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.light {
  background-color: #e6e6e6;
  margin: 10px;
  padding: 20px;
}

textarea {
  padding: 0 58px;
  border-radius: 5px;
  border: none;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  gap: 30px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 330px;
  text-align: center;
}

.img {
  width: 90px;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  text-align: center;
}

/********* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #35424a;
  height: 150px;
  color: white;
}
